.main {
  background-image: url("../images/image-01.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.shadow-content {
  background-color: rgba(255, 255, 255, .425);
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  left: 25%;
  top: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
}