.main {
  background-image: url("../img/5.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.main .main__content {
  position: absolute;
  width: 400px;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.about {
  padding: 4rem 0;
}